{% extends "bootstrap/base.html" %} 

{% block title %} RadAI - Rads versus machine {% endblock %} 

{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}

{% block navbar %}

        {% if current_user.is_anonymous %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/about">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span>Register</a></li>
              <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
          </div>
        </nav> 
        <!--.navbar navbar-default-->

        {% else %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="/">Home</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/about">About Us</a></li>
                <li><a href="/worklist">Worklist</a></li>
                <li><a href="/stats">Stats</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                      <li class="text-center">{{current_user.email}}</li>
                                      <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                                  </ul>
                  </li>
              </ul>
            </div>
            </div>
          </nav> 
        <!--.navbar navbar-default-->
        {% endif %}

      <!-- </main> -->
      <!-- /.main -->

<!-- /.container-fluid -->
{% endblock %} 
